.base-circle-wave {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  &--primary {
    background-color: var(--color-primary-100);
    border: 8px solid var(--color-primary-25);
  }
  &--secondary {
    background-color: var(--color-secondary-100);
    border: 8px solid var(--color-secondary-25);
  }
}
