.portfolio {
  .portfolio__item__container {
    position: relative;
    .portfolio__item {
      cursor: pointer;
      width: 100%;
      height: 395px;
      border-radius: 16;
    }
    .portfolio__item__count {
      position: absolute;
      right: 20px;
      bottom: 20px;
      padding: 5px 10px;
      border-radius: 8px;
      background: #101828;
      color: #ffffff;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
    }
  }
}
