.ai_manual_onboarding {
  .data_item {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;

    .data_item_icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      color: var(--color-primary-500);
      background: var(--color-primary-100);
      box-shadow: 0px 0px 0px 10px var(--color-primary-25);
      position: relative;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .data_item_content {
      flex: 1;
    }
  }
}
