.ai_onboarding {
  & .ai_onboarding__diagnosis_cards {
    display: flex;
    flex-direction: row;
    gap: 56px;

    .ai_diagnosis_card {
      flex: 1;
      display: block;

      .image {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 1 / 1;
      }
    }
  }

  & .card-review {
    padding: 16px 35px;
    border-radius: 16px;
    margin: 0 10px;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .rating-score {
        background-color: var(--color-warning-100);
        color: var(--color-warning-500) !important;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }

  & .diagnosis_badge {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;

    &.diagnosis_badge--manual {
      background-color: var(--color-secondary-25);
      p {
        color: var(--color-secondary-600) !important;
      }
    }
    &.diagnosis_badge--ai {
      background-color: var(--color-primary-25);
      p {
        color: var(--color-primary-600) !important;
      }
    }
  }
}
