{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "printWidth": 120,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "jsxBracketSameLine": false,
    "endOfLine": "lf"
}