ul.ant-menu.base-menu {
  border-inline-end: unset;
  li.ant-menu-item {
    &:last-child {
      margin-bottom: 0;
    }
    &.ant-menu-item-selected {
      background-color: var(--color-primary-25);
      color: var(--color-primary-600);
    }
    color: var(--color-neutral-900);
    margin-bottom: 24px;
    margin-inline: unset;
    padding-inline: 16px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    .ant-menu-title-content {
      margin-inline-start: unset;
      color: inherit;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
    }
  }
}
