.ant-input.base-input,
.ant-input-affix-wrapper.base-input {
  &.base-input--default {
    height: 44px;
    font-size: 14px;
    border-radius: 8px;
    padding: 12px 16px;
  }
  &.base-input--large {
    height: 48px;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 16px;
  }
  &:hover {
    border: 1px solid #98a2b3;
    box-shadow: 0px 1px 2px 0px #1018280d;
  }
  &:focus {
    border: 1px solid #a3fbed;
    box-shadow: 0px 0px 0px 4px #cbeafe;
  }
  &.ant-input-affix-wrapper-focused {
    border: 1px solid #a3fbed;
    box-shadow: 0px 0px 0px 4px #cbeafe;
  }
}

.ant-input-group-wrapper.base-input {
  &.base-input--focused {
    .ant-input-wrapper.ant-input-group {
      box-shadow: 0px 0px 0px 4px #cbeafe;
      .ant-input-group-addon {
        border-color: #a3fbed;
      }
      .ant-input-affix-wrapper {
        &:focus-within {
          border-top-color: #a3fbed !important;
          border-bottom-color: #a3fbed !important;
          border-color: #d9d9d9;
          box-shadow: unset;
        }
      }
      .ant-input {
        border-top-color: #a3fbed !important;
        border-bottom-color: #a3fbed !important;
      }
    }
  }

  .ant-input-wrapper.ant-input-group {
    .ant-input-affix-wrapper {
      &:hover {
        border-color: #d9d9d9;
      }
    }
  }

  &.base-input--default {
    .ant-input-wrapper.ant-input-group {
      height: 44px;
      border-radius: 8px;
      .ant-input-affix-wrapper {
        padding: 0px 8px;
        .ant-input-suffix {
          margin-inline-start: -6px;
        }
        .ant-input-prefix {
          margin-inline-end: -6px;
        }
      }
      .ant-input-group-addon {
        background-color: var(--color-white);
        padding: 10px 16px;
      }
      .ant-input {
        padding: 10px 12px;
        font-size: 14px;

        &:focus {
          border-color: #d9d9d9;
          box-shadow: unset;
        }
        &:hover {
          border-color: #d9d9d9;
        }
      }
    }
  }

  &.base-input--large {
    .ant-input-wrapper.ant-input-group {
      height: 48px;
      border-radius: 8px;
      .ant-input-affix-wrapper {
        padding: 0px 8px;
        .ant-input-suffix {
          margin-inline-start: -6px;
        }
        .ant-input-prefix {
          margin-inline-end: -6px;
        }
      }
      .ant-input-group-addon {
        background-color: var(--color-white);
        padding: 10.5px 16px;
      }
      .ant-input {
        padding: 10.5px 12px;
        font-size: 16px;

        &:focus {
          border-color: #d9d9d9;
          box-shadow: unset;
        }
        &:hover {
          border-color: #d9d9d9;
        }
      }
    }
  }
}

.ant-input-affix-wrapper.base-input {
  .ant-input-suffix {
    margin-inline-start: 8px;
  }
  .ant-input-prefix {
    margin-inline-end: 8px;
  }
}
