.ant-collapse.base-collapse {
  border: 0px;
  background-color: var(--color-white);
  .ant-collapse-item {
    border: 0px;
    &:not(:first-child) {
      margin-top: 24px;
    }
    &.ant-collapse-item-active {
      .ant-collapse-header {
        background: linear-gradient(79.64deg, #206f8c 0%, #49c3d0 100%);
        color: var(--color-white);
        .ant-collapse-expand-icon {
          [stroke] {
            stroke: var(--color-white) !important;
          }
        }
      }
    }
    .ant-collapse-header {
      background-color: var(--color-white);
      border-radius: 8px !important;
      padding: 12px 16px;
      box-shadow: 0px 2px 4px -2px #1018280f;
      box-shadow: 0px 4px 8px -2px #1018281a;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
    }
    .ant-collapse-content {
      border: 0px;
      margin: 24px 0px;
      .ant-collapse-content-box {
        padding: 0px;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }
  }
}
