.certification-card {
  padding: 0px 44px;
  background: linear-gradient(63.44deg, #1d2939 16.72%, #475467 83.39%);
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.award-card {
  padding: 0px 44px;
  background: linear-gradient(79.64deg, #781d4b 0%, #d86f87 100%);
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
