@use '@/styles/variables' as *;
.tab-navigation {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 48px;
  @media screen and (max-width: $tabletScreen) {
    grid-template-columns: 1fr !important;
    gap: 24px !important;
  }
}
