.base-badge {
  padding: 8px;
  border-radius: 8px;
  width: fit-content;
  .base-badge__text {
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  &--primary-25 {
    background-color: var(--color-primary-25);
    color: var(--color-primary-600);
  }
  &--secondary-25 {
    background-color: var(--color-secondary-25);
    color: var(--color-secondary-600);
  }
  &--warning-25 {
    background-color: var(--color-warning-25);
    color: var(--color-warning-600);
  }
}
