.base-badge {
  border-radius: 8px;
  width: fit-content;
  .base-badge__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .base-badge__text {
    color: inherit;
  }
  &--primary-25 {
    background-color: var(--color-primary-25);
    color: var(--color-primary-600);
  }
  &--secondary-25 {
    background-color: var(--color-secondary-25);
    color: var(--color-secondary-600);
  }
  &--warning-25 {
    background-color: var(--color-warning-25);
    color: var(--color-warning-600);
  }
  &--warning-100 {
    background-color: var(--color-warning-100);
    color: var(--color-warning-600);
  }
  &--info-100 {
    background-color: var(--color-info-100);
    color: var(--color-info-600);
  }
  &--success-100 {
    background-color: var(--color-success-100);
    color: var(--color-success-600);
  }
  &--danger-100 {
    background-color: var(--color-danger-100);
    color: var(--color-danger-600);
  }
  &--neutral-100 {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-500);
  }
  &--pink-gradient {
    background: linear-gradient(272.84deg, #eaafbc 2.01%, #e18ea0 99.65%);
    color: var(--color-white);
  }
  &--brown-gradient {
    background: linear-gradient(272.84deg, #c17170 2.01%, #b05857 99.65%);
    color: var(--color-white);
  }
  &--secondary-700 {
    background-color: var(--color-secondary-700);
    color: var(--color-white);
  }
}
