.shop-banner {
  margin-bottom: 62px;
  .slick-list {
    margin: 0 -15px;
    .slick-track {
      .slick-slide {
        padding: 0 15px;
        .shop-banner__carousel__item {
          height: 210px;
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  .slick-dots {
    li {
      width: auto;
      margin: 0 4px;
      button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--color-white);
        border: none;
        padding: 0;
        &:before {
          content: '';
        }
        background: #e0fef4;
      }
      &.slick-active button {
        width: 40px;
        border-radius: 20px;
        background: #d86f87;
      }
    }
  }
}
