.modal__delete {
  .modal__delete__content {
    padding: 24px;
    text-align: center;
    padding-top: 12px;

    .trash_icon {
      background-color: #ffe9d9;
      box-shadow: 0px 0px 0px 8px #fff9f5;
      color: var(--color-danger-600);
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 50%;
      margin-left: -20px;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .modal__delete__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 24px;

    .btn_cancel {
      color: #ff5744 !important;
      border: 1px solid #ff5744 !important;
    }
  }
}
