.information-detail {
  .information-detail__other {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    gap: 32px;
    width: 661px;
    .information-detail__other__item {
      flex: 0 0 auto;
      width: 494px;
    }
  }
}
