:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  /* Neutral (Grey) */
  --color-neutral-25: #f2f4f7;
  --color-neutral-50: #f2f4f7;
  --color-neutral-100: #f2f4f7;
  --color-neutral-200: #eaecf0;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #98a2b3;
  --color-neutral-500: #667085;
  --color-neutral-600: #475467;
  --color-neutral-700: #344054;
  --color-neutral-800: #1d2939;
  --color-neutral-900: #101828;
  /* Primary (Turqoise) */
  --color-primary-25: #effffa;
  --color-primary-50: #e9fff8;
  --color-primary-100: #e0fef4;
  --color-primary-200: #c2fdef;
  --color-primary-300: #a3fbed;
  --color-primary-400: #8bf7f0;
  --color-primary-500: #65f1f3;
  --color-primary-600: #49c3d0;
  --color-primary-700: #3297ae;
  --color-primary-800: #206f8c;
  --color-primary-900: #135174;
  /* Secondary (Pink) */
  --color-secondary-25: #fff9f7;
  --color-secondary-50: #fff5f1;
  --color-secondary-100: #feefea;
  --color-secondary-200: #fedcd6;
  --color-secondary-300: #fec5c2;
  --color-secondary-400: #fdb2b5;
  --color-secondary-500: #fc99a6;
  --color-secondary-600: #d86f87;
  --color-secondary-700: #b54d6e;
  --color-secondary-800: #923058;
  --color-secondary-900: #781d4b;
  /* Success (Green) */
  --color-success-25: #fafcf1;
  --color-success-50: #fbffe1;
  --color-success-100: #f5fccc;
  --color-success-200: #e8f99b;
  --color-success-300: #d2ed66;
  --color-success-400: #b8db40;
  --color-success-500: #96c40b;
  --color-success-600: #7ca808;
  --color-success-700: #648d05;
  --color-success-800: #4d7103;
  --color-success-900: #3d5e02;

  /* Info (Blue) */
  --color-info-25: #f3f4ff;
  --color-info-50: #ebeeff;
  --color-info-100: #dee2ff;
  --color-info-200: #bec5ff;
  --color-info-300: #9ea7ff;
  --color-info-400: #8691ff;
  --color-info-500: #444fdb;
  --color-info-600: #444fdb;
  --color-info-700: #2f38b7;
  --color-info-800: #1d2493;
  --color-info-900: #12167a;

  /* Warning (Orange) */
  --color-warning-25: #fffdf3;
  --color-warning-50: #fffbe8;
  --color-warning-100: #fff7cc;
  --color-warning-200: #ffec99;
  --color-warning-300: #ffde66;
  --color-warning-400: #ffd13f;
  --color-warning-500: #ffbb00;
  --color-warning-600: #db9a00;
  --color-warning-700: #b77c00;
  --color-warning-800: #936000;
  --color-warning-900: #7a4c00;

  /* Danger (Red) */
  --color-danger-25: #fff9f5;
  --color-danger-50: #fff3ea;
  --color-danger-100: #ffe9d9;
  --color-danger-200: #ffcdb4;
  --color-danger-300: #ffac8e;
  --color-danger-400: #ff8c72;
  --color-danger-500: #ff5744;
  --color-danger-600: #db3531;
  --color-danger-700: #b7222b;
  --color-danger-800: #931527;
  --color-danger-900: #7a0d25;
}
