.base-calendar {
  border: 1px solid var(--color-neutral-100);
  padding: 20px;
  box-shadow: 0px 2px 4px -2px #1018280f;
  box-shadow: 0px 4px 8px -2px #1018281a;
  border-radius: 8px;
  .ant-picker-calendar-header {
  }
  .base-calendar__header {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:active {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
  .ant-picker-panel {
    border-top: 0px;
    .ant-picker-date-panel {
      .ant-picker-body {
        table.ant-picker-content {
          tr {
            th {
              height: 40px;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0%;
              text-align: center;
            }
            .ant-picker-cell {
              &.ant-picker-cell-today {
                .ant-picker-cell-inner {
                  &::before {
                    border: 1px solid #49c3d0;
                  }
                }
              }
              &.ant-picker-cell-selected {
                .ant-picker-cell-inner {
                  background-color: #49c3d0;
                  color: #fff;
                }
              }
              .ant-picker-cell-inner {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
