.banner {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  .banner__carousel__prev {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  .banner__carousel__next {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
  .banner__carousel-item {
    width: 100%;
    height: 485px;
    position: relative;
  }
}
