.cart {
  background-color: var(--color-neutral-50);
  .cart__header {
    background: var(--color-white);
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--color-neutral-300);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .cart__body {
    padding: 60px 0px;
  }
}
