.base-navbar {
  padding-top: 42px;
  padding-bottom: 42px;
  .base-navbar__menu {
    .base-navbar__menu__item {
      cursor: pointer;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 58px;
      &.base-navbar__menu__item--active {
        border-bottom: 2px solid var(--color-neutral-900);
      }
    }
  }
  .base-navbar__profile-info {
    width: 254px;
  }
}
