.base-navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  transition: 0.3s;
  &.navbar--scrolled {
    background-color: var(--color-white);
  }
  .base-navbar__menu {
    .base-navbar__menu__item {
      cursor: pointer;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 48px;
      &.base-navbar__menu__item--active {
        border-bottom: 2px solid var(--color-neutral-900);
      }
    }
  }
  .base-navbar__profile-info {
    max-width: 254px;
  }
}
