@use '@/styles/variables' as *;
.store-card {
  .store-card__images {
    display: grid;
    grid-template-columns: 713px 1fr;
    gap: 16px;
    @media screen and (max-width: $laptopScreen) {
      grid-template-columns: 413px 1fr !important;
    }
    @media screen and (max-width: $tabletScreen) {
      grid-template-columns: repeat(2, 1fr) !important;
    }
    @media screen and (max-width: $mobileScreen) {
      grid-template-columns: 1fr !important;
    }
    .store-card__images__primary {
    }
    .store-card__images__others {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}
