@use '@/styles/color' as *;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--color-neutral-700);
  background: var(--color-light);
  font-family: var(--font-urbainst);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
