@use '@/styles/color' as *;
@use '@/styles/scrollbar' as *;
@use '@/styles/variables' as *;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--color-neutral-700);
  background: var(--color-light);
  font-family: var(--font-urbainst);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .layout-wrapper {
    position: relative;
    .hero-bg {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      &.solid-green {
        height: 377px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background: var(--color-primary-600);
      }
      &.gradient-green {
        height: 567px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background: linear-gradient(79.64deg, #3297ae 0%, #49c3d0 100%);
      }
    }
    .content-wrapper {
      position: relative;
      z-index: 2;
      min-height: 100vh;
      overflow-x: hidden;
      &--with-navbar {
        padding-top: 96px;
        @media screen and (max-width: $mobileScreen) {
          padding-top: 64px;
        }
      }
      .content__footer {
        margin-top: 120px;
        @media screen and (max-width: $mobileScreen) {
          margin-top: 78px;
        }
      }
    }
  }
  .text-inherit {
    color: inherit;
  }
  .text-transform-uppercase {
    text-transform: uppercase;
  }
  .text-transform-capitalize {
    text-transform: capitalize;
  }
  .text-transform-lowercase {
    text-transform: lowercase;
  }
  .text-transform-none {
    text-transform: none;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$colors: 'white' 'black' /* Neutral */ neutral-25 neutral-50 neutral-100 neutral-200 neutral-300 neutral-400 neutral-500
  neutral-600 neutral-700 neutral-800 neutral-900 /* Primary */ primary-25 primary-50 primary-100 primary-200
  primary-300 primary-400 primary-500 primary-600 primary-700 primary-800 primary-900 /* Secondary */ secondary-25
  secondary-50 secondary-100 secondary-200 secondary-300 secondary-400 secondary-500 secondary-600 secondary-700
  secondary-800 secondary-900 /* Success */ success-25 success-50 success-100 success-200 success-300 success-400
  success-500 success-600 success-700 success-800 success-900 /* Info */ info-25 info-50 info-100 info-200 info-300
  info-400 info-500 info-600 info-700 info-800 info-900 /* Warning */ warning-25 warning-50 warning-100 warning-200
  warning-300 warning-400 warning-500 warning-600 warning-700 warning-800 warning-900 /* Danger */ danger-25 danger-50
  danger-100 danger-200 danger-300 danger-400 danger-500 danger-600 danger-700 danger-800 danger-900;

// Loop untuk generate class
@each $c in $colors {
  .text-#{$c} {
    color: var(--color-#{$c}) !important;
  }
  .border-#{$c} {
    border-color: var(--color-#{$c}) !important;
  }
  .background-#{$c} {
    background: var(--color-#{$c}) !important;
  }
}

$spacing-values: (
  0px: 0px,
  2px: 2px,
  4px: 4px,
  6px: 6px,
  8px: 8px,
  10px: 10px,
  12px: 12px,
  14px: 14px,
  16px: 16px,
  18px: 18px,
  20px: 20px,
  24px: 24px,
  30px: 30px,
  32px: 32px,
  40px: 40px,
  44px: 44px,
  48px: 48px,
  52px: 52px,
  56px: 56px,
  60px: 60px,
  64px: 64px,
  80px: 80px,
  120px: 120px,
);

$padding-properties: (
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
);
@each $key, $value in $spacing-values {
  @each $prefix, $property in $padding-properties {
    .#{$prefix}-#{$key} {
      #{$property}: $value !important;
    }
  }
  .px-#{$key} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
  .py-#{$key} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

$radius-properties: (
  'rounded': 'border-radius',
  'rounded-tl': 'border-top-left-radius',
  'rounded-tr': 'border-top-right-radius',
  'rounded-br': 'border-bottom-right-radius',
  'rounded-bl': 'border-bottom-left-radius',
);
@each $key, $value in $spacing-values {
  @each $prefix, $property in $radius-properties {
    .#{$prefix}-#{$key} {
      #{$property}: $value !important;
    }
  }
  .rounded-t-#{$key} {
    border-top-left-radius: $value !important;
    border-top-right-radius: $value !important;
  }
  .rounded-r-#{$key} {
    border-top-right-radius: $value !important;
    border-bottom-right-radius: $value !important;
  }
  .rounded-b-#{$key} {
    border-bottom-left-radius: $value !important;
    border-bottom-right-radius: $value !important;
  }
  .rounded-l-#{$key} {
    border-top-left-radius: $value !important;
    border-bottom-left-radius: $value !important;
  }
}
.rounded-full {
  border-radius: 9999px !important;
}
.rounded-none {
  border-radius: 0px !important;
}

.rich-text-content blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
  background-color: #f9f9f9;
}

.rich-text-content {
  margin-top: 16px;
  white-space: normal !important;
}

.rich-text-content h1,
.rich-text-content h2,
.rich-text-content h3,
.rich-text-content h4,
.rich-text-content h5,
.rich-text-content h6 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.rich-text-content ul,
.rich-text-content ol {
  padding-left: 24px;
  margin-bottom: 16px;
}

.rich-text-content p {
  margin-bottom: 8px;
}

.rich-text-content code {
  background-color: #feefea;
  color: #d86f87;
  font-size: 14px;
  padding: 0px 6px;
  border-radius: 4px;
  margin: 0px 4px;
  display: inline-block;
}

.summary-text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
