.shop__service-variant-modal {
  .ant-modal-content {
    padding: 40px;
    border-radius: 16px;
    .ant-modal-close {
      top: 40px;
      right: 40px;
    }
  }
  .shop__service-variant-modal__card {
    width: 117px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-primary-600);
    background: var(--color-primary-50);
    box-shadow: 0px 1px 2px 0px #1018280d;
    &.--selected {
      background: var(--color-primary-600) !important;
      color: var(--color-white) !important;
    }
  }
}
