.ant-steps.base-steps {
  .ant-steps-item {
    .ant-steps-item-container {
      .ant-steps-item-icon {
        cursor: pointer;
      }
    }
    &.ant-steps-item-disabled {
      .ant-steps-item-icon {
        cursor: default;
      }
    }
    &.ant-steps-item-process {
      .ant-steps-item-container {
        .ant-steps-item-tail {
        }
        .ant-steps-item-icon {
          background-color: var(--color-primary-600);
          border-color: var(--color-primary-600);
        }
      }
    }
    &.ant-steps-item-finish {
      .ant-steps-item-container {
        .ant-steps-item-tail {
        }
        .ant-steps-item-icon {
          background-color: var(--color-white);
          border-color: var(--color-primary-600);
          .ant-steps-icon {
            color: var(--color-primary-600);
          }
        }
        .ant-steps-item-content > .ant-steps-item-title::after {
          background-color: var(--color-primary-600);
        }
      }
    }
    &.ant-steps-item-wait {
      .ant-steps-item-container {
        .ant-steps-item-tail {
        }
        .ant-steps-item-icon {
          background-color: var(--color-white);
          border-color: var(--color-neutral-300);
          .ant-steps-icon {
            color: var(--color-neutral-300);
          }
        }
      }
    }
  }
}
