.ai_manual_onboarding {
  .data_item {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;

    .data_item_icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      color: var(--color-primary-500);
      background: var(--color-primary-100);
      box-shadow: 0px 0px 0px 10px var(--color-primary-25);
      position: relative;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .data_item_content {
      flex: 1;
    }
  }
}

.manual_analysis {
  .analysis_step2 {
    .analysis_item {
      position: relative;

      .analysis_image {
        cursor: pointer;
        transition: 0.25s;
        &:hover {
          opacity: 0.92;
        }
      }

      .analysis_checkbox {
        position: absolute;
        width: 48px;
        height: 48px;
        background-color: var(--color-neutral-50);
        bottom: 32px + 24px;
        right: 32px;
        z-index: 100;
        border-radius: 50%;
        transition: 0.25s background-color;

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &.checked {
          background-color: var(--color-secondary-600);
          color: #fff;
        }
      }
    }
  }

  .color_analysis {
    .slider_color {
      width: 90vw;
      left: 0;
      margin-left: -140px;
      margin-bottom: 80px;
    }
    & :global(.slick-active.slick-current) .card-color-item {
      width: 500px !important;
      height: 678px !important;
    }
    .card_color_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      width: 464px;
      height: 614px;
    }

    .slick-dots {
      display: flex !important;
      justify-content: center;
      flex-direction: row;
    }
    .slick-dots li:nth-child(1) {
      display: none;
      background-color: blue;
    }
    .slick-dots li {
      list-style-type: none;
      cursor: pointer;
      transition: 0.25s;
      &:hover {
        opacity: 0.9;
      }
      & .slick-active {
        border: 4px solid blue;
      }
    }

    .slider_color_indikator {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 40px;
      margin-top: 80px;
      margin-bottom: 0px;
      display: block;
    }
  }
}
