@use '@/styles/variables' as *;

.ai_manual_onboarding {
  margin-top: 48px;

  .data_item {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;

    .data_item_icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      color: var(--color-primary-500);
      background: var(--color-primary-100);
      box-shadow: 0px 0px 0px 10px var(--color-primary-25);
      position: relative;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .data_item_content {
      flex: 1;
    }
  }
}

.manual_analysis {
  .analysis_step2 {
    .analysis_item {
      position: relative;

      .analysis_image {
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          opacity: 0.92;
        }
      }

      .analysis_checkbox {
        position: absolute;
        width: 48px;
        height: 48px;
        background-color: var(--color-neutral-50);
        bottom: 32px + 24px;
        right: 32px;
        z-index: 100;
        border-radius: 50%;
        transition: 0.25s background-color;

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &.checked {
          background-color: var(--color-secondary-600);
          color: #fff;
        }
      }
    }
  }

  .color_analysis {
    .slider_color {
      width: 90vw;
      left: 0;
      margin-left: -140px;
      margin-bottom: 80px;

      @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
      }
    }

    & :global(.slick-active.slick-current) .card-color-item {
      width: 500px !important;
      height: 678px !important;

      @media (max-width: 768px) {
        width: 100% !important;
        height: auto !important;
      }
    }

    .card_color_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      width: 464px;
      height: 614px;

      @media (max-width: 768px) {
        width: 100%;
        max-width: 320px;
        height: auto;
        min-height: 400px;
        padding: 24px;
      }

      img {
        @media (max-width: 768px) {
          width: 100%;
          height: auto;
          max-width: 200px;
        }
      }
    }

    .slick-dots {
      display: flex !important;
      justify-content: center;
      flex-direction: row;

      @media (max-width: 768px) {
        margin-top: 24px;
      }
    }

    .slick-dots li:nth-child(1) {
      display: none;
      background-color: blue;
    }

    .slick-dots li {
      list-style-type: none;
      cursor: pointer;
      transition: 0.25s;

      &:hover {
        opacity: 0.9;
      }

      & .slick-active {
        border: 4px solid blue;
      }
    }

    .slider_color_indikator {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 40px;
      margin-top: 80px;
      margin-bottom: 0px;
      display: block;

      @media (max-width: 768px) {
        width: 50px;
        height: 50px;
        margin: 20px;
        margin-top: 24px;
        margin-bottom: 0px;
      }
    }
  }
}

.analysis_result {
  .card_color_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    width: 100%;
    height: calc(100% - 24px);
    box-shadow:
      0px 4px 6px -2px #10182808,
      0px 12px 16px -4px #10182814;
    padding: 20px;

    @media screen and (max-width: 600px) {
      height: auto;
    }
  }

  .banner_promo {
    background: linear-gradient(79.64deg, #b54d6e 0%, #d86f87 100%);
    margin: 40px 0px;
    border-radius: 16px;
    overflow: hidden;

    p {
      color: #fff !important;
    }

    .banner_promo_icon {
      width: 56px;
      height: 56px;
      background-color: var(--color-secondary-100);
      border-radius: 8px;
      position: relative;

      svg {
        color: var(--color-secondary-600);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .banner_promo_price {
      background-color: var(--color-danger-500);
      padding: 8px;
      border-radius: 8px;
    }

    .card-shade {
      width: fit-content;
    }
  }
}
