.base-box {
  overflow: hidden;

  &--bordered {
    border-style: solid;
  }

  /* Shadows */
  &--shadow-xs {
    box-shadow: 0px 1px 2px 0px #1018280d;
  }

  &--shadow-sm {
    box-shadow:
      0px 1px 2px 0px #1018280f,
      0px 1px 3px 0px #1018281a;
  }

  &--shadow-md {
    box-shadow:
      0px 2px 4px -2px #1018280f,
      0px 4px 8px -2px #1018281a;
  }

  &--shadow-lg {
    box-shadow:
      0px 4px 6px -2px #10182808,
      0px 12px 16px -4px #10182814;
  }

  &--shadow-xl {
    box-shadow:
      0px 8px 8px -4px #10182808,
      0px 20px 24px -4px #10182814;
  }

  &--shadow-2xl {
    box-shadow: 0px 24px 48px -12px #1018282e;
  }

  &--shadow-3xl {
    box-shadow: 0px 32px 64px -12px #10182824;
  }

  &--shadow-active-primary {
    box-shadow: 0px 0px 0px 4px #cbeafe;
  }

  &--shadow-active-secondary {
    box-shadow: 0px 0px 0px 4px #fecbf0;
  }

  &--shadow-active-neutral {
    box-shadow: 0px 0px 0px 4px #f2f4f7;
  }

  &--shadow-active-danger {
    box-shadow: 0px 0px 0px 4px #ffe5d8;
  }
}
