.base-float-button__wrapper {
  position: relative;
  .base-float-button {
    height: 80px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px !important;
  }
}
