.root {
  background-color: #f9fafb;
  padding: 24px 0;
}
.community {
  margin: auto;
  display: flex;
  //   flex-direction: row;
  justify-content: space-between;
  gap: 40px; //20px
  padding: 24px 0;
  min-height: 40vh;

  & .community__side {
    display: block;
    width: 160px;
    // flex: 1;
    min-height: 300px;
    z-index: 100;
  }

  & .community__content {
    display: block;
    flex: 1;

    &.community__posts {
      width: auto;
      max-width: 75%;
    }

    .post__form {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e5e7eb;
      padding-bottom: 16px;

      .post__input {
        flex: 1;
        height: 40px;
        margin-left: 16px;
      }
    }
    .post__upload_img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      gap: 8px;
      font-size: 14px;
    }

    .post {
      margin-bottom: 16px;

      // width: 100%;

      .post__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        .user {
          display: flex;
          align-items: center;
          gap: 12px;

          .avatar {
            background-color: #f1f8fe;
            color: #418575;
          }
        }

        .post__action_btn {
          border: none;
          box-shadow: none;
          padding: 0;
        }
      }
      .post__footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 12px;

        .button,
        .button_like {
          border: none;
          box-shadow: none;
          svg {
            margin-top: 4px;
          }
        }
        .button_like {
          &:hover,
          &.liked {
            color: red;
          }
        }
      }
    }

    .slider-container {
      width: 100%;

      .slider-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 8px 20px 8px;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }

    .post__comment {
      margin-top: 16px;
      .post__list_comments {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .comment {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        .comment__avatar .avatar {
          background-color: #f1f8fe;
          color: #418575;
        }
        .comment__content {
          flex: 1;
        }
        .comment__time {
          color: var(--color-neutral-500) !important;
        }
        .comment__action_btn {
          border: none;
          box-shadow: none;
          padding: 0;
        }
      }
      .post__form {
        margin-top: 24px;
        border-bottom: none;
      }
    }
  }
}

.create_post__modal {
  width: 90% !important;
  max-width: 800px !important;

  .create_post__modal__content {
    padding: 0;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    textarea {
      border-color: #eaecf0;
    }

    .post__upload_img {
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 18px;
      border: 1px solid #eaecf0;
      border-radius: 8px;
      font-size: 14px;
      color: #667085;
      &:hover {
        background-color: #f9fafb;
      }
    }
  }
}
.modal__delete {
  .modal__delete__content {
    padding: 24px;
    text-align: center;
    padding-top: 12px;

    .trash_icon {
      background-color: #ffe9d9;
      box-shadow: 0px 0px 0px 8px #fff9f5;
      color: var(--color-danger-600);
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 50%;
      margin-left: -20px;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .modal__delete__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 24px;

    .btn_cancel {
      color: #ff5744 !important;
      border: 1px solid #ff5744 !important;
    }
  }
}
