.store-information {
  .store-information__achievement {
    .store-information__achievement__item {
      background: linear-gradient(79.64deg, #206f8c 0%, #49c3d0 100%);
      border-radius: 16px;
    }
  }
  .store-information__social-media {
    .store-information__social-media__item {
      border: 2px solid #49c3d0;
      border-radius: 16px;
    }
  }
}
