.base-image {
  .base-image__img__wrapper {
    position: relative;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  .base-image__empty {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
}
