.base-image-carousel {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  .base-image-carousel__prev {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  .base-image-carousel__next {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }
  .base-image-carousel__item {
    width: 100%;
    height: 490px;
    position: relative;
  }
}
