.base-image-carousel {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  &:hover {
    .base-image-carousel__prev,
    .base-image-carousel__next {
      opacity: 1;
    }
  }
  .base-image-carousel__prev {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .base-image-carousel__next {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .base-image-carousel__item {
    position: relative;
  }
}
