.reservation-card {
  transition: 0.5s;
  &:hover {
    border: 1px solid var(--color-white) !important;
    box-shadow: 0px 4px 6px -2px #10182808;
    box-shadow: 0px 12px 16px -4px #10182814;
  }
  .reservation-card__items__item {
    display: grid;
    grid-template-columns: 136px 1fr;
    gap: 48px;
  }
}
