.ant-select.base-select {
  align-items: center;
  .ant-select-arrow {
    transition: 0.2s;
  }
  &.ant-select-open,
  &.ant-select-focused {
    .ant-select-selector {
      border: 1px solid #a3fbed !important;
      box-shadow: 0px 0px 0px 4px #cbeafe !important;
    }
    .ant-select-arrow {
      rotate: -180deg;
    }
  }
  &.base-select--default {
    .ant-select-selector {
      height: 44px;
      font-size: 14px;
      border-radius: 8px;
      padding: 12px 16px;
    }
  }
  &.base-select--large {
    .ant-select-selector {
      height: 48px;
      font-size: 16px;
      border-radius: 8px;
      padding: 12px 16px;
    }
  }
  .ant-select-selector {
    border: 1px solid var(--color-neutral-300);
    box-shadow: unset;
    &:hover {
      border: 1px solid #98a2b3 !important;
      box-shadow: 0px 1px 2px 0px #1018280d !important;
    }
  }
}
