.with-menu-container {
  display: grid;
  grid-template-columns: 384px 1fr;
  gap: 48px;
  align-items: start;
  position: relative;
  margin-top: -24px;
  margin-bottom: 120px;
  .with-menu-container__menu-wrapper {
    top: 0px;
    position: sticky;
    bottom: 50px;
    height: fit-content;
  }
}
