@use '@/styles/variables' as *;
.with-menu-container {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 40px;
  align-items: start;
  position: relative;
  margin-top: -24px;
  @media screen and (max-width: $desktopScreen) {
    grid-template-columns: 280px 1fr;
    gap: 18px;
  }
  @media screen and (max-width: $laptopScreen) {
    grid-template-columns: 1fr !important;
  }
  .with-menu-container__menu-wrapper {
    top: 0px;
    position: sticky;
    bottom: 50px;
    height: fit-content;
  }
}
