.ant-tabs.base-tabs {
  .ant-tabs-ink-bar {
    background: var(--color-primary-600);
    height: 2px;
  }
  .ant-tabs-nav {
    margin: 0px;
    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        width: 100%;
        .ant-tabs-tab {
          flex: 1;
          display: flex;
          justify-content: center;
          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: var(--color-primary-600);
              font-weight: 600;
            }
          }
          .ant-tabs-tab-btn {
            color: var(--color-neutral-500);
            font-weight: 600;
          }
        }
      }
    }
  }
}
